.App {
  text-align: center;
  font-family: 'Lato', sans-serif;
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}

.dataBox {
    display: table-cell;
    vertical-align: middle;
}

.title {
  font-weight: 700;
  font-size: 20px;
}

.counterValue {
  font-size: 60px;
}
